<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">
    
    <style >
    
    div {
	
	background:yellow;
	
	padding: 4px;
	
}
    
    
    
    
    </style>
    
    
  </head>
  <body>
  
  
  <div class="container" >
    <h1 class="text-center">Acadamic Structure</h1>
    
    <form >
    
    <table class=" table table-striped">
    <thead>
    <tr>
    <td >Sno</td>
    <td>Leauge Levels</td>
    <td>Fitteness levels</td>
    <td>Timings</td>
    <td>Achivements</td>
    </tr>
    
    <tbody>
   <tr>
   <td>1</td>
   <td>karnataka leauges</td>
   <td>batting Stance</td>
   <td>8am to 11 am morning</td>
   <td>karnatak trophy and hazari trophy</td>
   
   
   
   
   </tr>
   
   <tr>
   <td>2</td>
   <td>Tamilnadu leauges</td>
   <td>batting and bowling and cardio</td>
   <td>3pm to 7pm evening</td>
   <td>dhilip trophy</td>
   
   
   
   
   </tr>
   <tr>
   <td>3</td>
   <td>Hyderbad leauges</td>
   <td>footworks</td>
   <td>6am to 10 am morning</td>
   <td>hyderabad trophy</td>
   
   
   
   
   </tr>
   
   
   <tr>
   <td>4</td>
   <td>Ranji leauges</td>
   <td>full time pratice</td>
   <td>6am to 5pm </td>
   <td>ranji trophy of tamilnadu</td>
   
   
   
   
   </tr>
   
   
   <tr>
   <td>5</td>
   <td>national leauges</td>
   <td>2day nets and 2day batting pratice</td>
   <td>6am to 5pm</td>
   <td>national trails</td>
   
   
   
   
   </tr>
   
   
   
   
    
    
    
    
    
    </tbody>
   
    </table>
    
   <a href="/" class="btn btn-primary">Home page</a> 
    
    
    </form>
   
    </div>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>
  </body>
</html>